<footer>
  <div class="container-fluid p-0">
    <div class="row text-left">
      <div class="col-md-2">
        <h4 class="mb-4 text-light">Categories</h4>
        <a href="/products/hoodie" class="h6 mb-4 d-block text-muted">Hoodies</a>
        <a href="/products/sweater" class="h6 mb-4 d-block text-muted">Sweaters</a>
        <a href="/products/polos" class="h6 mb-4 d-block text-muted">Polos</a>
        <a href="/products/pants" class="h6 mb-4 d-block text-muted">Pants</a>
        <a href="/products/t-shirt" class="h6 mb-4 d-block text-muted">T-shirt</a>
      </div>
      <div class="col-md-2 col-sm-12">
        <h4 class="mb-4 text-light">My Account</h4>
        <a href="/orders" class="h6 mb-4 d-block text-muted">Payment history</a>
        <a href="/cart/checkout" class="h6 mb-4 d-block text-muted">View cart</a>
    </div>
      <div class="col-md-2 col-sm-12">
        <h4 class="mb-4 text-light">We support</h4>
        <i class="cre mr-1 fab fa-cc-visa"></i>
        <i class="cre mr-1 fab fa-cc-mastercard"></i>
        <i class="cre fab fa-paypal"></i>
        <img height="50px" style="margin-top: -13px" class="p-0 d-inline" src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1458245625/pwegh6kadcb37kuz0woj.png" alt="">
    </div>
    <div class="col-md-4 col-sm-12">
      <h4 class="text-light">Newsletter</h4>
      <p class="text-muted">Stay Updated</p>
      <form class="form-inline action=" index.html" method="post"">
          <div class=" col pl-0">
        <div class="input-group pr-5">
          <input type="text" class="form-control bg-dark text-white" placeholder="Email">
          <button class="btn px-15 py-15" type="button" name="button">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
    </div>
    </form>
  </div>
    <div class="col-md-2 col-sm-12">
      <h4 class="text-light">Follow Us</h4>
      <p class="text-muted">Let us be social</p>
      <div class="column">
        <i class="social fab fa-facebook-f"></i>
        <i class="social fab fa-instagram"></i>
        <i class="social fab fa-twitter"></i>
        <i class="social fab fa-youtube"></i>
      </div>
    </div>
  </div>
  </div>
</footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/zoomsl.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/index.js"></script>

</html>
